body
{
	margin:0;
	padding:0;
	font-size: 12px;
	background-color: #fff;
}
#header
{
	height:40px;
	width:100%;
	background:url(../images/bg.png);
	position:absolute;
	top:0;
}
#header .header_main
{
	width:800px;
	height:40px;
	margin:0 auto;
}
#header .header_main h1
{
	margin:0;
	padding:0 20px;
	height:40px;
	line-height: 40px;
	font-size: 20px;
	color:#666;
	float:left;
}
#header .header_main .header_search
{
	float:left;
	padding:5px 5px 0 0;
}
#header .header_main .header_search .search
{
	width:300px;
	height:24px;
	border:1px solid #fff;
	color:#666;
	font-size: 14px;
	text-indent: 5px;
}
#header .header_main .header_button
{
	float:left;
	padding:5px;
}
#header .header_main .header_member
{
	float:right;
	height:40px;
	line-height: 40px;
}
#header .header_main .header_member a
{
	text-decoration: none;
	color:#555555;
	font-size: 14px;
}
#reg
{
	height:400px;
}
#reg p
{
	margin:0;
	padding:0;
}
#reg p label
{
	font-size:14px;
	color:#666;
}
#reg p .star
{	
	color:red;
}
#reg p .text
{
	text-indent:5px;
	border-radius: 4px;
	padding:0;
	margin:10px;
	background-color:#fff;
	width:200px;
	height:25px;
	line-height: 25px;
	color:#666;

}
body .ui-tooltip
{
	color:orange;
	box-shadow:1px 2px #666
}
